.frame {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background-color: black;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  filter: blur(0.5px);
}

@for $i from 1 through 8 {
  .static__#{$i} {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    transform: rotate((random(300)) + deg);

    &:after {
      position: absolute;
      content: "";
      display: block;
      background-color: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      transform-origin: (40 - $i * 3) + px (40 - $i * 3) + px;
      animation: rotate (1.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
    }
  }
}

@for $i from 1 through 10 {
  .rotating__#{$i} {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    height: 2 * $i + px;
    width: 2 * $i + px;
    border-radius: 50%;
    transform: rotate((random(300)) + deg);

    &:after {
      position: absolute;
      content: "";
      background-color: #fff;
      top: 50%;
      left: 50%;
      height: 2 * $i + px;
      width: 2 * $i + px;
      border-radius: 50%;
      transform-origin: 6 * $i + px 6 * $i + px;
      z-index: 2;
      animation: rotate (1.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}
