// Variables

$box-width-and-height: 400px;
$menu-item-height: 8px;
$menu-item-margin: 14px;
$menu-icon-line-offsetY: $menu-item-height + $menu-item-margin;

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #3faf82;
  margin-top: -($box-width-and-height/2); /* Half of width */
  margin-left: -($box-width-and-height/2); /* Half of width */
  width: $box-width-and-height;
  height: $box-width-and-height;
  border-radius: 5px;
}

.menu-icon {
  position: absolute;
  width: 80px;
  z-index: 50;
  height: (3 * $menu-item-height)+ (2 * $menu-item-margin);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .line-1,
  .line-2,
  .line-3 {
    background: white;
    height: $menu-item-height;
    margin-bottom: $menu-item-margin;
    border-radius: 5px;
  }

  &.active {
    .line-1 {
      animation: animate-line-1 0.2s ease-in forwards;
    }

    .line-2 {
      animation: animate-line-2 0.2s ease-in forwards;
    }

    .line-3 {
      animation: animate-line-3 0.2s ease-in forwards;
    }
  }

  &.reverse {
    .line-1 {
      animation: animate-line-1 0.2s ease-in reverse;
    }

    .line-2 {
      animation: animate-line-2 0.2s ease-in reverse;
    }

    .line-3 {
      animation: animate-line-3 0.2s ease-in reverse;
    }
  }
}

.no-animation {
  animation: none;
}

@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  50% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
  }
}

@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  50% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  50% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
