@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-left: -200px;
  margin-top: -200px;
  background: #264057;
  border-radius: 2px;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
  z-index: 2;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50px;
  left: 50px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.center.inactive {
  transform: translate3d(150px, 0, 0);
}
.center .header {
  display: block;
  height: 60px;
  width: 100%;
  background: #5f98cd;
}
.center .header .notification-menu {
  position: absolute;
  top: 23px;
  left: 12px;
  cursor: pointer;
}
.center .header .notification-menu .line-top,
.center .header .notification-menu .line-bottom {
  height: 3px;
  width: 20px;
  background: #b2daff;
  margin-top: 5px;
  border-radius: 3px;
}
.center .header .notification-menu .circle {
  position: absolute;
  background: #b2daff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: 13px;
  top: 3;
}
.center .header .notification-menu:hover .line-top,
.center .header .notification-menu:hover .line-bottom,
.center .header .notification-menu:hover .circle {
  background: #fff;
}
.center .header .search-icon {
  position: absolute;
  top: 26px;
  right: 15px;
  height: 11px;
  width: 11px;
  cursor: pointer;
  background: #b2daff;
}
.center .header .search-icon:hover {
  background: #fff;
}
.center .header .title {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 60px;
}
.center .header .search-item {
  position: absolute;
  top: 23px;
  left: 50px;
  border-radius: 15px;
  background: #fff;
  z-index: -2;
}
.center .header .search-item.active {
  z-index: 1;
}
.center .notifications {
  height: 240px;
  width: 100%;
  background: #fff;
}
.center .notifications .line {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 2px;
  height: 240px;
  background: #ebebeb;
}
.center .notifications .notification {
  height: 80px;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.center .notifications .notification-circle {
  position: absolute;
  left: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 11px;
  width: 11px;
  border: 2px solid #5f98cd;
}
.center .notifications .notification-text {
  position: absolute;
  left: 40px;
  font-size: 15px;
  line-height: 15px;
}
.center .notifications .notification-text p {
  margin-top: 2px;
}

.menu {
  position: absolute;
  height: 270px;
  width: 170px;
  top: 65px;
  left: 60px;
  background: #43627d;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.menu.active {
  z-index: 1;
  left: 50px;
}
.menu .item {
  text-align: left;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  color: #93b2cd;
  list-style: none;
  cursor: pointer;
}
.menu .item .menu-btn {
  position: absolute;
  left: 20px;
  height: 10px;
  width: 10px;
  background: #b2daff;
}
.menu .item:hover {
  color: #fff;
  background: #385269;
}

/*# sourceMappingURL=styles.css.map */
